<%- include('../partials/head', {title: "Retailers" }) %>

    <header>
        <h1>
            Pitutis
        </h1>
        <p>My digital pet</p>
    </header>

    <main>
        <div class="game-container">
            
            <div class="app-welcome">
                <div class="section-welcome">
                    <h2>Bienvenidos</h2>
                    <p>Haga click en iniciar para conocer a Pitutis.</p>
                </div>
                <div>
                    <button class="startbtn" id="startbtn">
                        Iniciar
                    </button>
                </div>
            </div>

        </div>
    </main>

<%- include('../partials/footer') %>