<section class="game-container">

    <div id="infobox" class="info-container text-styles">
        <button id="close-info" class="close-btn">X</button>
        <h2>
           Hí! I'm Robot.
        </h2>
        <p>
            You're very welcome. You are my new daddy. Please take care of me. I've just born. I need to be charged and -most of all- I need to dance. I love dancing. I hove we could be really good friends. :D
        </p>
        <h4>
            Things to do now:
        </h4>
        <ul>
            <li>Don't forget to charge my battery</li>
            <li>Don't forget to dance</li>
            <li>You can talk with me typing on the left.</li>
            <li><strong>I need a name!</strong></li>
        </ul>
    </div>

    <div class="robot-container">
        
        <div class="talk-container">
            <div class="talk">
                <div class="talk__message text-styles">
                </div>
            </div>
        </div>

        <div class="robot">
            <div class="robot__body">
                <div class="robot__body-head">
                    <div class="robot__body-eyes">
                        <span class="left-eye"></span>
                        <span class="right-eye"></span>
                    </div>
                    <div class="robot__body-antenna">
                        <span></span>
                    </div>
                </div>
                <div class="robot__body-body">
                    <div class="robot__body-arms">
                        <span class="left-arm"></span>
                        <span class="right-arm"></span>
                    </div>
                    <div class="robot__body-legs">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="functions-container">
            
            <h3 class="functions__title">Controles</h3>

            <div class="functions__controls">

                <div class="form_group">
                    <div class="form-inner">
                        <label for="talker">Talk with Robot</label>
                        <input id="talker" name="talker">
                        <button id="talk-action-btn">Talk ></button>
                    </div>

                    <div class="form-inner">
                        <label for="actions">What do you want to do?</label>
                        <select name="actions" id="actions">
                            <option value="none">Select one</option>
                            <option value="chargeit">Charge me</option>
                            <option value="dance">Dance</option>
                            <option value="talktome">Talk to me</option>
                        </select>
                    </div>
                </div>

                <div  id="helpersmsj" class="helpers-msj text-styles">
                    <h2>Tip!</h2>
                    <div class="msjhelperwrapper"></div>
                </div>

                <button id="toggle-info" class="info-btn">More info!</button>

            </div>
        </div>

    </div>

</section>