<section class="game-container">

    <div class="info-container text-styles">
        <h2>
            Información importante!
        </h2>
        <p>
            Lorem ipsum dolor sit <strong>amet</strong>, consectetur <em>adipiscing</em> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut <a>aliquip ex ea</a> commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
        <ul>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
        </ul>
    </div>

    <div class="robot-container">
        
        <div class="talk-container">
            <div class="talk on">
                <div class="talk__message text-styles">
                    <p>Hola!</p>
                </div>
            </div>
        </div>

        <div class="robot">
            <div class="robot__body">
                <div class="robot__body-head">
                    <div class="robot__body-eyes">
                        <span class="left-eye"></span>
                        <span class="right-eye"></span>
                    </div>
                </div>
                <div class="robot__body-body">
                    <div class="robot__body-arms">
                        <span class="left-arm"></span>
                        <span class="right-arm"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>