<section class="app-welcome">
    <div class="section-welcome">
        <h2>Bienvenidos</h2>
        <p>Haga click en iniciar para conocer a Pitutis.</p>
    </div>
    <div class="startbtn">
        <button id="startbtn">
            Iniciar
        </button>
    </div>
</section>